{% extends 'properties/base.html' %}

{% block content %}
    <h2>About us</h2>
    <p>Combined Fishman Properties is a family run real estate business. The majority of our
holdings are commercial properties in the ballpark neighborhood of downtown Denver. We have been
in this neighborhood for several generations. We have a variety of tenants ranging from a massage
institute, an architectural firm, restaurants, bars, start-up companies, and solo practitioners. We are
committed to the ballpark neighborhood and are very excited to be a small part of this up and coming
area. Please feel free to contact us if you are looking for space to house your office, business,
restaurant, bar or start-up.</p>

{% endblock content %}