{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    {% block header %}
    {% endblock %}
    <!--<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'bootstrap/css/sticky-footer.css' %}" rel="stylesheet"> -->
    <link href="{% static 'cfp.css' %}" rel="stylesheet">

    <meta charset="UTF-8">
    <title>CFP</title>
</head>
<body>
{% block head %}
{% endblock %}
<!-- NAVBAR -->
<div id="header-wrapper">
    <div class="banner-container">
        <h1>COMBINED FISHMAN PROPERTIES<br>COMMERCIAL REAL ESTATE</h1>
    </div>
    <nav class="navbar">
        <a href="{% url 'properties:index' %}">Home</a>
        <a href="{% url 'properties:contact' %}">Contact</a>
        <a href="#">Properties</a>
        <a href="{% url 'properties:about' %}">About</a>
    </nav>
</div>
<!-- start main body content -->
<div class="container">
    {% block content %}
    {% endblock %}
</div>

<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% block script %}
{% endblock %}
</body>
