{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    {% block header %}
    {% endblock %}
    <!--<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'bootstrap/css/sticky-footer.css' %}" rel="stylesheet"> -->
    <link href="{% static 'cfp.css' %}" rel="stylesheet">

    <meta charset="UTF-8">
    <!--<title>CFP</title>-->
</head>
<body>
{% block head %}
{% endblock %}
<!-- NAVBAR -->
<div id="header-wrapper">
    <div class="banner-container">
        <h1>COMBINED FISHMAN PROPERTIES<br>COMMERCIAL REAL ESTATE</h1>
    </div>
    <nav class="navbar">
        <div id="main-nav-bar">
            <a href="{% url 'properties:index' %}">Home</a>
            <a href="{% url 'properties:contact' %}">Contact</a>
            <a href="#">Properties</a>
            <a href="{% url 'properties:about' %}">About</a>
        </div>
        <div id="mobile-nav-bar">
            <div id="mobile-text">cfp</div>
        </div>
        <!--
        <select>
            <option value="{% url 'properties:index' %}">Home</option>
            <option value="{% url 'properties:contact' %}">Contact</option>
            <option href="#">Properties</option>
            <option href="{% url 'properties:about' %}">About</option>
        </select> -->
    </nav>
</div>
<!-- start main body content -->
    <div class="content-container">
        {% block content %}
            {% if title %}
                <title>CFP | {{ title }}</title>
            {% else %}
                <h1>no title</h1>
                <title>CFP BOSS</title>
            {% endif %}
        {% endblock %}
</div>

<!-- FOOTER -->
<div class="footer">
    &#169; Combined Fishman Properties. All rights reserved.
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script>
    $("<select />").appendTo("#mobile-nav-bar");

    $("<option />", {
        "selected": "selected",
        "value": "",
        "text": "Go to..."
    }).appendTo("nav select");

    $("nav a").each(function () {
        var el = $(this);
        $("<option />", {
            "value": el.attr("href"),
            "text": el.text()
        }).appendTo("nav select");
    });

    $("nav select").change(function () {
        window.location = $(this).find("option:selected").val();
    });
</script>
{% block script %}
{% endblock %}
</body>
