{% extends 'properties/base.html' %}
{% load staticfiles %}


{% block header %}
    <link href="{% static 'detail.css' %}" rel="stylesheet">
    <link href="{% static 'home_style.css' %}" rel="stylesheet">
{% endblock header %}


{% block content %}
    {% if title %}
        <title>CFP | {{ title }}</title>
    {% endif %}
    <div id="property-detail-wrapper">
        <h1>{{ property.name }}</h1>

        <div id="property-history-text">
            {% if property.history %}
                <p>{{ property.history }}</p>
            {% else %}
                <p>This property has no history</p>
            {% endif %}
        </div>
        <div class="slide-show-wrapper">
            <!-- Layout Slideshow 1 -->
            <ul class="rslides rslides1" id="slider1" style="">
                {% for i in loop_times %}
                    {% with i|add:"+1" as i%}
                    {% with y=i|stringformat:"s" %}
                     {% with picture="images/properties/"|add:property.image_file|add:"/level_"|add:y|add:".png" %}
                         <li><img src="{% static picture %}" alt="{{ property.name }}"></li>
                         {% endwith %}
                    {% endwith %}
                    {% endwith %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script src="{% static 'responsiveSlides/js/responsiveslides.min.js' %}"></script>
    <script>
       $(function () {
          // Slideshow 1
          $("#slider1").responsiveSlides({
            auto: false,
            pagination: true,
            nav: true,
            fade: 500
          });
    });


    </script>
{% endblock script %}