{% extends 'properties/base.html' %}
{% load staticfiles %}
{% load property_details %}


{% block header %}
    <link href="{% static 'detail.css' %}" rel="stylesheet">
    {% if title %}
            <title>CFP | {{ title }}</title>
    {% endif %}
{% endblock header %}


{% block content %}
    <div id="property-detail-wrapper">

        <div id="prop-title-box">

            <h1>{{ property.name }}</h1>
            {% for line in property.address|addresser %}
                <p>{{ line }}</p>
            {% endfor %}
        </div>





        <div id="property-history-text">
            <h2>History</h2>
            {% if property.history %}
                <p>{{ property.history }}</p>
            {% else %}
                <p>This property has no history</p>
            {% endif %}
        </div>
        <div class="slide-show-wrapper">
            <!-- Layout Slideshow 1 -->
            <ul class="rslides rslides1" id="slider1" style="">
                {% for i in loop_times %}
                    {% with i|add:"+1" as i %}
                        {% with y=i|stringformat:"s" %}
                            {% with picture="images/properties/"|add:property.image_file|add:"/level_"|add:y|add:".png" %}
                                <li><img src="{% static picture %}" alt="{{ property.name }}"></li>
                            {% endwith %}
                        {% endwith %}
                    {% endwith %}
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock content %}

{% block script %}
    <script src="{% static 'responsiveSlides/js/responsiveslides.min.js' %}"></script>
    <script>
       $(function () {
          // Slideshow 1
          $("#slider1").responsiveSlides({
            auto: false,
            pager: true,
            fade: 500
          });
    });

    </script>
{% endblock script %}