{% extends 'properties/base.html' %}
{% load staticfiles %}


{% block header %}
    <link href="{% static 'detail.css' %}" rel="stylesheet">
{% endblock header %}


{% block content %}
    {% if title %}
        <title>CFP | {{ title }}</title>
    {% endif %}
    <div id="propertty-detail-wrapper">
        <h1>{{ property.name }}</h1>
        <div id="property-history-wrapper">
            {% if property.history %}
                <p>{{ property.history }}</p>
            {% else %}
                <p>This property has no history</p>
            {%  endif %}
        </div>
        <div id="property-picture">
            <img src="http://lorempixel.com/500/300/" alt="random lorempixel image"/>
        </div>
        <div id="layout-slideshow-wrapper">
            <img src="http://lorempixel.com/500/300/" alt="random lorempixel image"/>
        </div>
    </div>
{% endblock content %}