{% extends 'properties/base.html' %}
{% load staticfiles %}

{{ title }}
{% block header %}
    <link href="{% static 'responsiveSlides/css/responsiveslides.css' %}" rel="stylesheet">
    <link href="{% static 'home_style.css' %}" rel="stylesheet">
{% endblock header %}

{% block content %}
    <div class="slide-show-wrapper">
        <!-- Slideshow 1 -->
        <!--<div id="slide-show">-->
        <ul class="rslides rslides1" id="slider1" style="">
            <li><img src="{% static "images/2015_960x450.jpg" %}" alt="2015"></li>
            <li><img src="{% static "images/armory960x450.jpg" %}" alt="armory"></li>
            <li><img src="{% static "images/scruffy960x450.jpg" %}" alt="scruphy"></li>
            <li><img src="{% static "images/zanzbar960x450.jpg" %}" alt="zanzbar"></li>
        </ul>
        <!--</div>-->
    </div>
    <div id="property-gallery">
        {% for property in properties %}
            <div class="gallery-item">
               <!-- <img src="http://lorempixel.com/150/150/" alt="{{ property.name }}"/> -->
                <a href="{% url 'properties:propertyDetail' property.id %}"><img src="http://lorempixel.com/150/150/" alt="{{ property.name }}"/></a>
                <p>{{ property.name }}</p>
            </div>
        {%  endfor %}

    </div>
{% endblock content %}

{% block script %}
    <script src="{% static 'responsiveSlides/js/responsiveslides.min.js' %}"></script>
    <script>
       $(function () {
          // Slideshow 1
          $("#slider1").responsiveSlides({
            auto: false,
            pagination: true,
            nav: true,
            fade: 500
          });
    });
    </script>
{% endblock script %}
