body {
    margin: 0;
    padding: 0;
    font-family: 'BlairMdiTC', 'Geneva', serif;
    background-color: #ffffff;
    color: #000000;
}

@font-face {
    font-family: 'BlairMdiTC';
    src: url('fonts/BlairMdITCTTMedium.ttf');
}

.banner-container {
    position: relative;
    overflow: hidden;
}

.banner-container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('images/bricks1327x150.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;

}
.banner-container h1{
    text-align: center;
    z-index: 2;
    position: relative;
    color: #000;
}

#slider1 {
    width: 100%
}

.navbar {
    text-align: center;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
}
.navbar a {
    color: inherit;
    padding: 10px;
    position: relative;
    display: inline-block;
    margin-right: 36px;
    text-decoration: none;

}

.navbar a:hover {
    color: #D3D3D3;
}

/* responsive style */
@media screen and (max-width: 930px) {
    #navbar li {
        padding: 21px;
    }

    #banner {
        height: 138px;
    }

    #banner h1{
        margin-top: 5%;
        font-size: 20px;
    }
}

@media screen and (max-width: 475px) {
     #navbar li {
        display: block;
    }
}

.footer {
     position: fixed;
     bottom: 0px;
     width: 100%;
     overflow: visible;
     z-index: 99;
     padding-top: 5px;
     padding-bottom: 3px;
     color: #ffffff;
     background: #111 none repeat scroll 0% 0%;
     border-top: solid white 2px;
     -webkit-box-shadow: 0px -5px 15px 0px #bfbfbf;
     height: 34px;
}