@font-face {
    font-family: 'BlairMdiTC';
    src: url('fonts/BlairMdITCTTMedium.ttf');
}

body {
    font-family: 'BlairMdiTC', 'Geneva', serif;
    background-color: #ffffff;
    color:#000000;
}

#slider1 {
    width: 100%
}

#top {
    border-top: 4px solid;
    border-bottom: 4px solid;
    border-color: #000000;
    text-align: center;
    height: 200px;
    color: #000000;
}

#navbar {
    background-color: #ffffff;
}


#navbar ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

#navbar li {
   display: inline;
    padding: 62px;
    color: #000000;
}

#navbar a {
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
    color: #000000;
    text-decoration: none;
}

/* responsive style */
@media screen and (max-width: 930px) {
    #navbar li {
        padding: 21px;
    }
}