a {
    text-decoration: none;
}

h2 {
    margin-left: 5px;
}

ul {
    padding: 20px;
    margin: auto;
}
#contact-us-wrapper {
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-left: 10%;
}
.tile {
    width: 450px;
    border-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
    float:left;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ffffff;
    height:300px
}

.center-text {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
    line-height: 22px;
}
#contact-us-box {
    margin-right: 10px;
    font-family: Roboto,arial,sans-serif;
}

#map-canvas {
    /*width: 500px;*/
    /*width: 450px;
    height: 300px;
    float: left;
    padding: 1px;*/
    border: 1px solid #021A40;

}

