#property-detail-wrapper {
    width: 100%;
    margin-top: 20px;
    display: block;
    margin-left: 10%;
    font-family: Roboto,arial,sans-serif;
}

.total-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    line-height: 10px;
}

.center-history-text {
    text-align: center;
    line-height: 22px;
}


.tile {
    width: 450px;
    border-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
    float:left;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ffffff;
}

.top-tile {
    height:300px;
}

.left-tile {
    margin-right: 5px;
}

.right-tile {
    margin-left: 5px;
}

#top-left-tile {
}


#bottom-left-tile {
    height:651px;
}
#bottom-right-tile {
}

#property-history-text{
    width: 45%;
    float: left;
    margin-right: 10px;

}

#slider1 {
    width: 100% !important;

}

.rslides {
    position: relative;
    list-style: outside none none;
    overflow: hidden;
    width: 100%;
    padding: 0px;
    margin: 0px auto;
}



.rslides_tabs {
    background: rgba(0, 0, 0, 0.25) none repeat scroll 0% 0%;
    box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.3), 0px 0px 5px #000 inset;
    font-size: 18px;
    list-style: outside none none;
    margin: 0px 0px 50px 0px;
    max-width: 472px;
    padding: 10px 0px;
    text-align: center;
    
}

.rslides_tabs li:first-child {
    margin-left: 0px;
}

.rslides_tabs li {
    display: inline;
    float: none;
    margin-right: 1px;
}

.rslides_tabs {
    font-size: 18px;
    list-style: outside none none;
    text-align: center;
}

.rslides_tabs .rslides_here a {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0% 0%;
    color: #FFF;
    font-weight: bold;
}

.rslides_tabs a {
    width: auto;
    line-height: 20px;
    padding: 9px 20px;
    height: auto;
    background: transparent none repeat scroll 0% 0%;
    display: inline;
}
