#wrapper {
    width: 100% !important;
    background-color: blue;
    border-top: 4px solid;
    border-bottom: 4px solid;
    border-color: #000000;
}


#wrapper ul {
    max-width: none;
    max-resolution: 510px;
}