#slide-show-wrapper {
    height: 450px;
    width: 960px !important;
    background-color: #000000;
    border-top: 4px solid;
    border-bottom: 4px solid;
    border-color: #000000;
}


#slide-show-wrapper ul {
    max-width: none;
}