#slide-show-wrapper {
    width: 100%
    background-color: #000000;
    border-top: 4px solid;
    border-bottom: 4px solid;
    border-color: #000000;
}


#slide-show-wrapper ul {
    max-width: none;
    height: 450px;
}